# Git artifacts
.gitignore
!/.gitignore

# Maven artifacts
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Eclipse artifacts
.settings/
.project
.classpath

# Log artifacts
*.log
*.log.*
